/* accent color: #2196F3 */
/* logo color black: #000000 */
/* main text color: #212121 */
/* secondary text color: #757575 */
/* navigation background color: #FFFFFF */
/* hero background color: #2F303A */
/* work section background color:  #E5E5E5; */
/* staff section bg-color: #F5F4FA */
/* bottom contacts color: rgba(255,255,255,.6); */


/* global variables for layaut colors */
:root{
--accent: #2196F3;
--logo-black: #000000;
--main-text: #212121;
--secondary-text-color: #757575;
--page-bg-color: #FFFFFF;
--hero-bg-color: #2F303A;
--work-bg-color: #E5E5E5;
--staff-bg-color: #F5F4FA;
--bottom-contacts-color:  rgba(255,255,255,.6);
}


:focus{
  outline: none;
}


a {
    text-decoration: none;
}


.list {
    list-style-type: none; 
}

.page{
    background-color: var(--page-bg-color);
}



/* text coloring */
/* .staff-title,
.staff-subtitle,
.work-title,
.benefits-title{color: var(--main-text);}


.benefits-text,
.staff-text {color: var(--secondary-text-color);} */
/* or  */
/*    */
/*   */
.section-title {color: var(--main-text);}

.section-text {color: var(--secondary-text-color);}

/* .section-title */




.logo,
.footer-logo{
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: var(--accent);
}


.logo-right {
    color: var(--logo-black);
}

.footer-logo-right{
    color: var(--page-bg-color);
}

.footer {
    width: auto;
    background: var(--hero-bg-color);
;
}

/* navigation-bar */
.nav .nav-link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--main-text);
}


/* current position */
.nav .nav-link.curent {
    color: var(--accent);
}

/* hover/focus effects */
.nav .nav-link:hover,
.nav .nav-link:focus,
.contacts:hover,
.contacts:focus,
.footer-contacts:hover,
.footer-contacts:focus{
color: var(--accent);
cursor: pointer;
}


/* address */
.contacts{
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
color: var(--secondary-text-color);
}




/* hero */
.hero-section {
 width: 1600px;
height: 600px;
left: 0px;
top: 80px;
background: var(--hero-bg-color);
}

.hero-title {
   position: relative;
   font-family: 'Roboto';
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: 60px;
/* or 136% */

text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--page-bg-color);
}
.hero-btn {
   
  position: absolute;
width: 200px;
height: 50px;

background: var(--accent);

white-space: nowrap;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
text-align: center;


color: var(--page-bg-color);
}

/* benefits */
/* 

/*future
 */

/* work-section */



/* staff-section */
.staff{    background-color: var(--staff-bg-color);}





/* footer */

.footer-text{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
/* or 171% */

letter-spacing: 0.03em;

color: var(--page-bg-color);
}

.footer-contacts{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
/* or 171% */
letter-spacing: 0.03em;
color: var(--bottom-contacts-color);
}


