/* global variabl-listes for layaut colors */
:root {
    --accent: #2196F3;
    --logo-black: #000000;
    --main-text: #212121;
    --secondary-text-color: #757575;
    --page-bg-color: #FFFFFF;
    --hero-bg-color: #2F303A;
    --work-bg-color: #E5E5E5;
    --staff-bg-color: #F5F4FA;
    --bottom-contacts-color: rgba(255, 255, 255, .6);
    --nav-bottom-line-color: #ECECEC;
    --portfolio-card-border-color: #EEEEEE;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}


:focus {
    outline: none;
}

html,
body {
    height: 100%;
    font-family: roboto, sans-serif;
    color: var(--main-text);
    margin: 0px;
}

a {
    text-decoration: none;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1 1 auto;
}

.list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.page {
    background-color: var(--page-bg-color);
}


.page-header {
    padding-top: 24px;
    padding-bottom: 25px;
    border-bottom: 1px solid var(--nav-bottom-line-color);

}

.section-title {
    color: var(--main-text);
}

.section-text {
    color: var(--secondary-text-color);
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* .section-title */




.logo,
.footer-logo {

    display: inline;
    color: var(--accent);
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;

}


.logo-right {
    color: var(--logo-black);
}

.footer-logo-right {
    color: var(--page-bg-color);
}

.footer {
    width: auto;
    background: var(--hero-bg-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

/* navigation-bar */

.nav,
.nav.list,
.address .list {
    display: flex;
    align-items: center;
}

.nav>.list>li:not(:last-child) {
    margin-right: 50px;
}


.address>.list>li:not(:last-child) {
    margin-right: 20px;
}


.nav .nav-link {

    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-text);

}






/* current position */
.nav .nav-link.curent {
    color: var(--accent);
}


.nav .logo {
    margin-right: 93px;
}

/* hover/focus effects */
.nav .nav-link:hover,
.nav .nav-link:focus,
.contacts:hover,
.contacts:focus,
.footer-contacts:hover,
.footer-contacts:focus {
    color: var(--accent);
    cursor: pointer;
}




/* address */
.address {
    display: flex;
}


.contacts {

    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
}




/* hero */
.hero-section {
    text-align: center;
    /* width: 1600px;
height: 600px; */
    /* left: 0px;
top: 80px; */
    display: block;
    padding-bottom: 200px;
    padding-top: 200px;
    background: var(--hero-bg-color);
}

.hero-title {

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;


    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--page-bg-color);
    margin-top: 0;
    margin-bottom: 30px;

}

.hero-btn {
    display: block;
    background: var(--accent);
    color: var(--page-bg-color);

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;

    width: 200px;
    height: 50px;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    padding: 0;
    margin-left: auto;
    margin-right: auto;


}

/* benefits */

.section-benefits,
.section-staff {
    padding-top: 94px;
    padding-bottom: 94px;


}

.section-benefits .list {
    display: flex;
    justify-content: center;

    padding-left: 0px;

}

.section-benefits ul li {
    width: calc((100% - 90px) / 4);
}

.section-benefits ul li:not(:last-child) {
    margin-right: 30px;
}


.benefits-title {

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 10px;
}

.benefits-text {

    width: 270px;
    /* font-weight: 400; */
    font-size: 14px;
    line-height: 1.71;
    margin: 0;

}

/*future
 */

/* work-section */
.work-title,
.staff-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin: 0;
    margin-bottom: 50px;
}


.work-list,
.staff-list {
    display: flex;

}


.work-item {
    width: calc((100% - 60px) / 3);
}

.work-item:not(:last-child) {
    margin-right: 30px;
}



/* staff-section */
.section-staff {
    background-color: var(--staff-bg-color);
}



.section-staff,
.section-work {
    text-align: center;
    list-style: none;
    padding-bottom: 94px;
}



.staff-card {

    width: calc((100% - 90px) / 4);
    height: 368;
    background: var(--page-bg-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;


}

.staff-card:not(:last-child) {
    margin-right: 30px;
}

.staff-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;


}


.staff-subtitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;

    text-align: center;
    letter-spacing: 0.03em;
    margin-top: 0px;
    margin-bottom: 10px;
}

.staff-text {
    /* font-weight: 400; */
    font-size: 16px;
    line-height: 19px;

    text-align: center;
    letter-spacing: 0.03em;

    margin-top: 0px;
    margin-bottom: 30px;
}


.container {

    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}





/* footer */

.footer-logo {
    display: block;
    margin-bottom: 20px;
}


.footer-text {
    margin-top: 0;
    color: var(--page-bg-color);
    margin-bottom: 9px;
}

.footer-contacts {
    color: var(--bottom-contacts-color);

}

.footer-text,
.footer-contacts {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.contacts-item {
    margin-bottom: 9px;
}

.contacts-item:last-child {
    margin-bottom: 0;
}







/* portfolio page */

.portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
}


.portfolio>.container>.list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}


.button-list {
    margin-bottom: 50px;
}


.button-list li:not(:last-child) {
    margin-right: 8px;
}



.list button {
    font-family: roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;

    text-align: center;
    letter-spacing: 0.03em;
    height: 38px;

    color: var(--main-text);
    background-color: var(--staff-bg-color);
    border: none;
    border-radius: 4px;
    text-align: center;
    padding: 6px 22px;
}



.list button:hover,
.list button:focus {
    background-color: var(--accent);
    color: var(--page-bg-color);
    cursor: pointer;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-item {
    width: calc((100% - 60px) / 3);
    font-size: 0px;
    margin-right: 30px;
    margin-bottom: 30px;
}

.portfolio-item:nth-child(3n) {
    margin-right: 0;
}

.portfolio-item:nth-last-child(-n+3) {
    margin-bottom: 0px;
}


.portfolio-link {
    display: block;
}


.card-content {
    padding: 20px 24px;
    border: 1px solid var(--portfolio-card-border-color);
    border-top: 0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;

}

.work-item {
    font-size: 0;
}

.galery-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin: 0px 0px 4px 0px;
}

.galery-text {

    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    margin: 0;
}