a {
    text-decoration: none;
}


li {
    list-style-type: none; 
}


.logo{
    /* position: absolute;
width: 145px;
height: 31px;
left: 215px;
top: 24px; */

font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;
/* identical to box height */

letter-spacing: 0.03em;

color: #2196F3;
}


.logo-right {
    color: #000000;
}

.footer-logo-right{
    color: #ffffff;
}

.footer {
    width: auto;
    background: #2F303A;
;
}



/* <!-- variables --> */
:root {  /*глобальна область html*/
  --brand-color: #3f51b5;
  --border-color: rgba(237, 19, 19,0.3); /*змінна з кольором з альфа-каналом(прозорість)*/
}

.section {
  /* інші стилі */
  border: 10px solid var(--border-color);
}

.section-title {
  /* інші стилі */
  color: var(--brand-color);
}

.section-title::before {
  /* інші стилі */
  background-color: var(--brand-color);
}